@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@keyframes animTitle {
    from {
        /* Add starting values for animation */
        transform: translateX(-50px);
        opacity: 0;
    }
    to  {
        /* Add Ending values for animation */
        transform: translateX(0);
        opacity: 1;
    }
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
ul {
    padding: 0;
}

b {
    font-weight: 700;
}

.wrapper {
    width: 100%;
}

.wrapper-age {
    background-color: #f6f6f6;
}

.title {
    font-family: "Noto Sans Kr", sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 22px;
    padding: 72px 0 36px 0;
}

.ul {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 72px;
}

.user-list {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 18%;
    margin: 12px 0.93%;
    border: 1px solid #f5f5f5;
    box-shadow: 0px 0px 6px #e6e6e6;
    font-family: "Noto Sans Kr", sans-serif;
    color: #666666;
}

.user-list:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s linear;
}

.user-name {
    padding: 24px 0 12px 24px;
}

.user-gender {
    padding: 0 0 12px 24px;
}

.user-age {
    padding: 0 0 24px 24px;
}

.wrapper-select {
   padding: 36px 0 88px;
    width: 300px;
    margin: 0 auto;
}

.select {
    width: 148px;
    height: 36px;
}

.example-ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
    display: flex;
}

.example-ul > a {
    width: 120px;
    height: 120px;
    border: 1px solid #f5f5f5;
    border-radius: 30px;
    margin: 0 12px;
}

.example-li-2 {
    display: flex;
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    font-family: "Noto Sans Kr", sans-serif;
    color: #444444;
    font-size: 20px;
    font-weight: 400;
}

.example-li-1 {
    display: flex;
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    background-color: white;
    font-family: "Noto Sans Kr", sans-serif;
    color: #444444;
    font-size: 20px;
    font-weight: 400;
}

.example-ul > a:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.2s linear;
}

.a-numbering {
    font-size: 14px;
    font-weight: 700;
}

.go {
    margin-top: 4px;
    font-style: italic;
    font-size: 16px;
}

.link-1 {
    box-shadow: 0px 0px 6px #e6e6e6;
}

.link-2 {
    background-color: #f3f3f3;
    box-shadow: 0px 0px 6px #c9c9c9;
}

.list-example {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -60%);
    text-align: center;
    font-family: "Noto Sans Kr", sans-serif;
    font-size: 28px;
    color:#555555;
    font-weight: 400;
}


.hooks-wrapper {
    width: 100%;
    margin-top: 96px;
}

.hooks {
    border: 1px solid #333333;
    border-radius: 30px;
    padding: 30px;
    margin:0 auto 48px;
    width: 36%;
}

.hooks-title {
    text-align: center;
    font-family: "Noto Sans Kr", sans-serif;
    font-size: 28px;
    margin-top:0;
    margin-bottom:16px;
}

.effect-one {
    text-align: center;
    font-family: "Noto Sans Kr", sans-serif;
    font-size: 32px;
    font-weight: 800;
    margin-top:0;
    margin-bottom: 24px;
}

.hooks-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hooks-content button {
    text-align: center;
    font-family: "Noto Sans Kr", sans-serif;
    background-color: white;
    color:#555555;
    font-size: 16px;
    padding:12px 0;
    margin-bottom: 12px;
    border-radius: 30px;
    border:1px solid grey;
    width: 40%;
}

.hooks-content input {
    border-radius: 0;
    border:2px solid black;
    height: 32px;
    margin:24px 0;
    width: 40%;
}

.state {
    font-size: 32px;
    font-family: "Noto Sans Kr", sans-serif;
    color:#333333;
    font-weight: 800;
    margin-bottom: 24px;
}

.effect-example {
    font-size: 20px;
    font-family: "Noto Sans Kr", sans-serif;
    color:#333333;
    font-weight: 600;
    margin-bottom: 24px;
}

.user-list-hooks {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 30%;
    margin: 12px 1.5%;
    border: 1px solid #f5f5f5;
    box-shadow: 0px 0px 6px #e6e6e6;
    font-family: "Noto Sans Kr", sans-serif;
    color: #666666;
}

.title-hooks {
    font-family: "Noto Sans Kr", sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 16px 0;
    text-align: center;
}

.ul-hooks {
    width: 90%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
}

.number-one {
    text-align: center;
    font-family: "Noto Sans Kr", sans-serif;
    color: #666666;
    font-size: 20px;
    margin:16px 0;
}

.hooks-list-year {
    font-family: "Noto Sans Kr", sans-serif;
    color: #666666;
    font-size: 16px;
    padding-left:8px;
    padding-bottom: 16px;
}

.hooks-list-title {
    font-family: "Noto Sans Kr", sans-serif;
    color: #666666;
    font-size: 16px;
    padding-left:8px;
    padding-bottom: 16px;
    padding-top:16px;
}

.observer-wrapper {
    width: 360px;
    margin: 48px auto 0;
}

.movie-scroll {
    width: 360px;
    height: 540px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.movie-list-title {
    display: none;
}

.movie-list-hooks img {
    width: 360px;
    height: auto;
}

.movie-list-hooks {
    margin: 16px 0;
}

.movie-scroll-title {
    font-family: "Noto Sans Kr", sans-serif;
    color: #666666;
    font-size: 20px;
    text-align: center;
}

.goexample {
    font-family: "Noto Sans Kr", sans-serif;
    color: #666666;
    font-weight: 700;
    font-size: 20px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -75%);
}

.example-section {
    width: 100%;
    height: 960px;
    background-color: #f0f0f0;
}
.section-1-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trash {
    font-family: "Noto Sans Kr", sans-serif;
    color: #333333;
    font-weight: 700;
    font-size: 32px;
    padding-top: 400px;
}

.example-section-2 {
    width: 100%;
    background-color: #fff;
}

.section-2-wrapper {
    padding:100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:1024px;
    margin:0 auto;
    align-items: center;
}

.section-2-title {
    font-family: "Noto Sans Kr", sans-serif;
    color: #333333;
    font-weight: 400;
    font-size: 32px;
}

.section-2-subtitle {
    padding-top: 12px;
    font-family: "Noto Sans Kr", sans-serif;
    color:#666666;
    font-weight: 700;
    font-size: 18px;
    border-bottom: 1px solid #666666;
}

.map-ul {
    padding-top: 32px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.map-ul li {
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.06);
    border-radius: 0.5rem;
    background-color: white;
}

.example-list-title {
    padding: 24px 24px 12px;
    font-family: "Noto Sans Kr", sans-serif;
    color:#666666;
    font-weight: 700;
    font-size: 18px;
}

.example-list-description {
    padding: 0 16px 24px;
    font-family: "Noto Sans Kr", sans-serif;
    color:#333333;
    font-weight: 400;
    font-size: 15px;
}

.bnb {
    width: 100%;
    background-color: #f9f9f9;
}

.bnb-list {
    display: flex;
    flex-direction: column;
    width: 1024px;
    margin: 0 auto;

}

.bnb-li {
    display: flex;
    width: 100%;
    height: 200px;
    margin: 8px 0;
    background-color: white;
    box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.02);
}

.bnb-li-img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.bnb-li-info {
    margin-left: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bnb-li-name {
    font-family: "Noto Sans Kr", sans-serif;
    color:#666666;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 16px;
    padding-right: 36px;
    word-break: keep-all;
}

.bnb-li-price {
    font-family: "Noto Sans Kr", sans-serif;
    color:#333333;
    font-weight: 700;
    font-size: 20px;
}